@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}



body {
    margin: 0px;
    background-color: #252427;
}

header {
    /* background-image: url(/img/fondobarrica.jpg); */
    background-color: #252427;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 10vh;
    position: relative;
    
    justify-items: center;
    align-content: center;
    width: 100vw;
/*     margin-left: 30vw;
    margin-right: 10vw; */

}

.logo-oliva {
    display: flex;
    width: 20vw;
}
.logo-oliva img {
    width: 100px;
    position: relative;
    z-index: 3;
    margin-left: 10vw;
    border-radius: 50%;
    margin-top: 10px;

}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #252427;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vh 3vw 1vh 3vw;
    margin-left: 30vw;
    margin-right: 10vw;
    border-bottom: 2px solid #d6a26d;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #252427;
    text-decoration: none;
}

.titulo {
    text-align: center;
    margin-top: 30px;
}

.cart .fa-cart-shopping {

    font-size: 1rem;
    padding-right: 5px;
}

.cart a {
    /*    background-color: #d6a26d; */
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}



button {
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 60px auto;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #252427;
    max-width: 20%;
    overflow: hidden;
    display: table;
    border: 2px solid #d6a26d;
    size: 10vw;

}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-container img {
    width: 20vw;
}

.product-container h3 {
    font-size: 1rem;
    /* margin-left: 3rem; */
    text-align: center;
}

.product-container h1 {
    margin-bottom: 10px;
    /*     margin-left: 5rem; */
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-add {
    background-color: #252427;
    color: #ffffff;
    border: 2px solid #d6a26d;
    transition-duration: 0.4s;
    /*     position: inherit;
    right: -4.5rem;
    bottom: 10px;
    font-size: 1rem; */
    text-align: center;
}

.button-add:hover {
    background-color: #d6a26d;
    color: white;
    transition: ease-in-out 2ms;
}

.container-product {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3 1fr auto;
    grid-template-rows: auto;
    padding-bottom: 100px;
}

.container-product .fa-xmark {
    font-size: 25px;
    color: #d6a26d;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding-right: 10px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #d6a26d;
    margin: 0 auto;
}

.producto-title {
    width: 45%;
}



.precio {
    width: 15%;
    border-bottom: 1px solid #d6a26d;
    display: flex;
    align-items: center;
}

.cantidad {
    width: 30%;
    border-bottom: 1px solid #d6a26d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid #d6a26d;
    display: flex;
    align-items: center;
}

.producto {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d6a26d;
}

.producto .fa-solid {
    cursor: pointer;
}

.productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.productos img {
    width: 75px;
}

.producto span {
    padding-left: 10px;
}

.totalFinalContenedor {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.totalTitulo {
    width: 30%;
}

.totalFinal {
    width: 10%;
}

/* .img-carrito {
    width: 10vw;
} */

@media screen and (max-width: 600px) {
    * {
        font-size: 0.5rem;
    }

    .button-add {
        padding: 5px 10px;
        align-items: center;
    }

    .cart .fa-cart-shopping {
        font-size: 1rem;

    }

    h2 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3rem;
    }
}